BODY{
    font-family: arial, Helvetica;
    background: #e8e8e8;
}
.menu{
    list-style: none;
    padding: 0;
    background: #092327;
    width: 90%;
    max-width: 1000px;
    margin: auto;

}
.menu li a{
    text-decoration: none;
    color:  white;
    padding: 20px;
    display: block;
}
.menu li{
    display: inline-block;
    text-align: center;
}
.menu li a:hover{
    background: brown;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: url('ingenieria.jpg') ;
    background-size: cover;
    background-position: center;
    font-family: 'Century Gothic',sans-serif;
}
.box{
    width: 500px;
    background: rgba(0,0,0,4);
    margin: 0 auto;
    margin-top: 4%;
    padding: 20px;
    color: white;
    text-align: center;
}
.box-img{
    border-radius: 50%;
}
.box h1 {
    font-size: 40px;
    letter-spacing: 4px;
    font-weight: 100;
    margin: 30px o 20px;
}

.box h2{
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: 100px;
    margin-bottom: 20px;
}
.box p{
    text-align: justify;
}
.box ul {
    margin-top: 20px;
    list-style: none;
  }
  
  .box ul li {
    display: inline-block;
  }
  .box ul li a {
    color: white;
    font-size: 45px;
    padding: 10px 5px;
    transition: all .5s ease-in-out;
    display: block;
  }
  
  .box ul li a:hover {
    color:#b9b9b9;
    transform: scale(1.3);
  }
.-_-{
    font-family: arial, Helvetica;

    color:  white;
}
.log{
    color: white
}
